section {
  font-family: 'Smokum', cursive;
  height: 100vh;
  text-align: center;
  padding: 45px 15%;
  position: relative;
  width: 100%;
}

@media (max-width: 500px){
  section {
  padding: 75px 5%;
}
}

a {
  width: 25%;
}

.flex-container {
  width: 100%;
}

.img1, .img2 {
  width: 5rem;
}

.img1 {
  position: relative;
  top: 18%;
}


.img1:hover {
  transform: rotate(15deg);
}

.img2:hover {
  transform: rotate(25deg);
}

@media (max-width:515px){
  .img2:hover {
    transform: rotate(15deg);
  }
}
@media (max-width:400px) {
  img {
    width: 30%
  }
}
@media (max-width:500px){
  #header {
  font-size: xx-large;
}
}
@media (max-width:500px){
  #header-text{
  font-size: x-large;
}
}

.header {
  font-size: 4rem;
  line-height: 1.5;
}

.header-text {
  font-size: 2.5rem;
  line-height: 1.5;
}


.header, .header-text {
  color: #ffffff;
  padding-top: 3%;
}

.flex1, .flex2,  .flex-container > div {
  margin: 3%;
}

.player {
  font-family: 'Pacifico', cursive;
  margin: 0 6%;
}

#player1:hover {
  color: #F0B89C;
}

#player2:hover {
  color: #F0B89C;
}

.dice {
  padding: 3%;
}

#die1, #die2 {
  width: 45%;
}


.flex-container {
  display: flex;
  justify-content: center;
}
